// Primary and secondary colors
$primary: #00b085;
$primary-variant: #00644b;
$secondary: #ffb433;
$secondary-variant: #c77100;
//Additional UI colors
$background: #FFFFFF;
$surface: #cccccc;
$error: #a10e00;
// Typography
$typography-default: #000000;
$typography-variant: #FFFFFF;
$typography-background: #000000;
$typography-surface: #0c0c0c;
$typography-error: #FFFFFF;
